# OLD API
NEXT_PUBLIC_SERVICE_ADMIN_URL="http://172.18.242.228:8667/api/v1/mdb-mcr/base"

# CLIENT V2

NEXT_PUBLIC_API_MASSPRO_MCR_GL_CASA="http://172.18.242.228:8667/api/v1/mass-credit/gl-casa"
NEXT_PUBLIC_API_MASSPRO_MASSCREDIT_V2="http://172.18.242.228:8667/api/v1/mass-credit/base"
NEXT_PUBLIC_API_MASSPRO_MASSDEBET_V2="http://172.18.242.228:8667/api/v1/mass-debet/base"
NEXT_PUBLIC_API_MASSPRO_MASSDEBET_BPUM_V2="http://172.18.242.228:8667/api/v1/mass-debet/bpum"
# BRISTAR API
NEXT_PUBLIC_BRISTARS_PHOTO_URL="https://bristars.bri.co.id/bristars/foto/get"

NEXT_BRISTARS_TOKEN="e2fd5df174e4d6ec3a1bc10ff4e4dde601e112e0"
#SERVER ENV
="http://172.18.137.222:2200/api"
NEXTAUTH_SECRET=1234i
NEXT_SHARP_PATH=/node_modules/sharp
ESB_CHANNEL=BMPM
# BASE
NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_USERNAME_API_GL_CASA=CBP
NEXT_PUBLIC_PASSWORD_API_GL_CASA=P@ssw0rdCBP2024
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NEXT_PUBLIC_IS_DEVELOPMENT=1
